export code.txt
[{"id":"f57bd5cb.398498","type":"tab","label":"DB","disabled":false,"info":""},{"id":"3aaf6e35.5befe2","type":"inject","z":"f57bd5cb.398498","name":"start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"show databases like 'devinfo'","payload":"","payloadType":"date","x":90,"y":520,"wires":[["b4a1123b.cb7a7"]]},{"id":"b4a1123b.cb7a7","type":"mysql","z":"f57bd5cb.398498","mydb":"bed10c6c.c3f2f","name":"","x":230,"y":520,"wires":[["f591c6bd.145f68"]]},{"id":"c2d94dcb.a9f91","type":"debug","z":"f57bd5cb.398498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":520,"wires":[]},{"id":"f591c6bd.145f68","type":"switch","z":"f57bd5cb.398498","name":"","property":"payload[0][\"Database (devinfo)\"]","propertyType":"msg","rules":[{"t":"eq","v":"devinfo","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":520,"wires":[["c2d94dcb.a9f91"],["b820b6f9.936718"]]},{"id":"b820b6f9.936718","type":"change","z":"f57bd5cb.398498","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"create database devinfo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":660,"wires":[["ef75be8e.30d2b"]]},{"id":"ef75be8e.30d2b","type":"mysql","z":"f57bd5cb.398498","mydb":"bed10c6c.c3f2f","name":"","x":390,"y":720,"wires":[["1bedf218.9f493e"]]},{"id":"1bedf218.9f493e","type":"change","z":"f57bd5cb.398498","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"CREATE TABLE devinfo.tab1( \tTS TIMESTAMP NOT NULL DEFAULT current_timestamp(), \tcpuavg FLOAT NULL DEFAULT NULL,     memory FLOAT NULL DEFAULT NULL,       PRIMARY KEY (TS) )","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":780,"wires":[["bb574f34.3efc1"]]},{"id":"bb574f34.3efc1","type":"mysql","z":"f57bd5cb.398498","mydb":"bed10c6c.c3f2f","name":"","x":650,"y":780,"wires":[["c2d94dcb.a9f91"]]},{"id":"8d7dbe4e.6dbd1","type":"inject","z":"f57bd5cb.398498","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1080,"wires":[["aeb83655.4bf028","867c75f.c612088"]]},{"id":"aeb83655.4bf028","type":"Memory","z":"f57bd5cb.398498","name":"","scale":"Byte","x":380,"y":1000,"wires":[["57eb7706.6e7a08","75d27dbf.70a9d4"]]},{"id":"867c75f.c612088","type":"CPUs","z":"f57bd5cb.398498","name":"","x":370,"y":1140,"wires":[["ab4a2907.9d0a98"]]},{"id":"7353ebab.a53fa4","type":"debug","z":"f57bd5cb.398498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":1260,"wires":[]},{"id":"57eb7706.6e7a08","type":"change","z":"f57bd5cb.398498","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.memusage","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"память %","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1000,"wires":[["2a61401d.f74aa","de480b0.65151f8"]]},{"id":"ab4a2907.9d0a98","type":"function","z":"f57bd5cb.398498","name":"","func":"var prev = flow.get(\"prev\");\nif (typeof prev!== 'undefined')\n{\nvar cpus = msg.payload.cpus;\nvar cpusp = prev.payload.cpus;\nvar user, sys, idle, total; var avg = 0;\nvar uses = []; var msgs = cpus;\nfor (let i = 0; i < cpus.length; i++){      \n    user = cpus[i].times.user - cpusp[i].times.user;\n    sys = cpus[i].times.sys - cpusp[i].times.sys;\n    idle = cpus[i].times.idle - cpusp[i].times.idle;\n    total = user + sys + idle;\n    uses [i] = (user + sys)*100.0 / total;\n    avg += uses [i];\n    msgs [i].payload = uses[i];\n    msgs [i].topic = \"cpu_\" + i;\n}\navg = avg / cpus.length; msgs.length = cpus.length + 1;\nmsgs[msgs.length-1] = {\"payload\":avg,\"topic\":\"avg\"};\nreturn msgs;\n}\nflow.set(\"prev\",msg);","outputs":5,"noerr":0,"initialize":"","finalize":"","x":520,"y":1140,"wires":[["63df2622.edf388","de480b0.65151f8"],["f1de4dda.32481","63df2622.edf388","de480b0.65151f8"],["885ce035.3329","de480b0.65151f8"],["a7fedfbd.509e8","de480b0.65151f8"],["7353ebab.a53fa4","d9a323ec.28741","e4290358.85c7e"]]},{"id":"2a61401d.f74aa","type":"ui_text","z":"f57bd5cb.398498","group":"2a629381.6887cc","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":980,"wires":[]},{"id":"de480b0.65151f8","type":"ui_chart","z":"f57bd5cb.398498","name":"","group":"2a629381.6887cc","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":870,"y":1020,"wires":[[]]},{"id":"63df2622.edf388","type":"ui_text","z":"f57bd5cb.398498","group":"2a629381.6887cc","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":1100,"wires":[]},{"id":"f1de4dda.32481","type":"ui_text","z":"f57bd5cb.398498","group":"2a629381.6887cc","order":3,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":1120,"wires":[]},{"id":"885ce035.3329","type":"ui_text","z":"f57bd5cb.398498","group":"2a629381.6887cc","order":4,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":1140,"wires":[]},{"id":"a7fedfbd.509e8","type":"ui_text","z":"f57bd5cb.398498","group":"2a629381.6887cc","order":5,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":1160,"wires":[]},{"id":"d9a323ec.28741","type":"ui_text","z":"f57bd5cb.398498","group":"2a629381.6887cc","order":6,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":1180,"wires":[]},{"id":"e4290358.85c7e","type":"change","z":"f57bd5cb.398498","name":"","rules":[{"t":"set","p":"cpuavg","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1320,"wires":[["cbc8482d.ecac08"]]},{"id":"75d27dbf.70a9d4","type":"change","z":"f57bd5cb.398498","name":"","rules":[{"t":"set","p":"memory","pt":"flow","to":"payload.memusage","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":940,"wires":[[]]},{"id":"cbc8482d.ecac08","type":"function","z":"f57bd5cb.398498","name":"","func":"var mem = flow.get (\"memory\");\nvar cpuavg = flow.get (\"cpuavg\");\nmsg.topic = \"INSERT INTO tab1(cpuavg, memory) VALUES (\" + mem + \",\" + cpuavg + \")\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1380,"wires":[["d945ab55.db84d8"]]},{"id":"d945ab55.db84d8","type":"mysql","z":"f57bd5cb.398498","mydb":"bed10c6c.c3f2f","name":"","x":860,"y":1380,"wires":[[]]},{"id":"bed10c6c.c3f2f","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"devinfo","tz":"","charset":"UTF8"},{"id":"2a629381.6887cc","type":"ui_group","name":"Default","tab":"e63faa67.1ba7c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"e63faa67.1ba7c8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]